table {
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: salmon;
}

tr:nth-child(odd) {
    background-color: chartreuse;
}

tr:hover {
    background-color: darkgoldenrod;
    cursor: pointer;
}